.profile__button-edit {
  margin-top: 5px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: white 1px solid;
  cursor: pointer;
  align-self: center;
}

@media screen and (max-width: 580px) {
  .profile__button-edit {
    margin: 8px 19px 0 0;
    width: 18px;
    height: 18px;
    align-self: flex-start;
  }
}
