.header {
  margin: 0 auto;
  min-width: 293px;
  max-width: 880px;
  border-bottom: #545454 1px solid;
  padding-top: 45px;
  min-height: 74px;
}

@media screen and (max-width: 580px) {
  .header {
    padding: 28px 0 0 27px;
    min-height: 56px;
    max-width: 293px;
  }
}
